a	{ text-decoration: none; color: #ff0; }
body	{ background-color: #121; color: #fff; font-family: sans-serif; }
.time	{ font-size: 3.25em; font-weight: bold; color: #ffe; }
.tag	{ font-size: 1em; text-align: center; vertical-align: bottom; }
.click	{ cursor: hand; }
td	{ text-align: center; }
div.cpy	{ position: absolute; top: 4px; right: 4px; }
